name: Release

on:
  push:
    branches: [master]
    tags: ["v*"]

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  semver:
    runs-on: ubuntu-latest
    if: github.ref_type == 'branch'
    outputs:
      version: ${{ steps.semver.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: go-semantic-release/action@v1
        id: semver
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  goreleaser:
    runs-on: ubuntu-latest
    needs: semver
    if: always() && (needs.semver.outputs.version != '' || github.ref_type == 'tag')
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - uses: sigstore/cosign-installer@v3
      - uses: ko-build/setup-ko@v0.9
      - uses: anchore/sbom-action/download-syft@v0
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KO_DOCKER_REPO: ghcr.io/kypello-io/kes
